# This is Git's per-user configuration file.

[user]
name=Nicholas Christopoulos
email=nereus@freemail.gr

[core]
editor=jed

[color]
status=auto
branch=auto
diff=auto
interactive=auto
ui=auto

[sendmail]
smtpserver=/usr/bin/msmtp
suppresscc=self
multiedit=false

