!  === /home/nikosc/.xres/urxvt.res: 
!!	URXVT
!!	http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.7.html

! if there is pro with the font, use the italic bold and bolditalic format
!urxvt.italicFont: -xsg-xsg fixed 167-bold-b-normal--14-140-72-72-c-80-iso10646-1
!urxvt.boldFont: 7x14B
!urxvt.boldItalicFont: -xsg-xsg fixed 167-bold-b-normal--14-140-72-72-c-80-iso10646-1

urxvt.font: \
	xft:XSG Term 209:pixelsize=18,\
	-*-xsg term 189-*-*-*-*-*-*-100-100-p-*-iso10646-1,\
	-xsg-xsg fixed 210-*-*-*-*-21-*-100-100-p-*-iso10646-1,\
	xft:XSG Fixed 189:pixelsize=18,\
	xft:XSG Fixed 188:pixelsize=18,\
	xft:XSG Fixed 178:pixelsize=17,\
	xft:XSG Fixed 167:pixelsize=16,\
	7x14B,7x14, \
	xft:Terminus:bold:pixelsize=15

urxvt.geometry: 160x40

urxvt.reverseVideo: false

! standalone
!urxvt.saveLines: 4096
! tmux
urxvt*saveLines:0

! --- --- --- --- --- ---

urxvt.iconFile: /usr/share/icons/urxvt-icon.png
uxterm.metaSendsEscape: true

urxvt.iso14755: false
urxvt.iso14755_52: false
urxvt.cursorColor: #00ff00
urxvt.cursorBlink: true
urxvt*skipBuiltinGlyphs: true
urxvt.scrollstyle:      plain
urxvt.secondaryScroll:  true

! full example of xft format, URxvt.font: xft:monaco:bold:size=10
! try it real time
!	$ printf '\e]710;%s\007' "xft:Terminus:pixelsize=12"

urxvt.scrollBar:false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
!urxvt.scrollWithBuffer: true
! scroll back to the bottom on keypress
!urxvt.scrollTtyKeypress: true
! URL selection
!urxvt.url-select.launcher: /usr/bin/xdg-open
!urxvt.url-select.underline: true

! blackish with transparency
urxvt.depth: 32
urxvt.background: rgba:0000/0000/0000/eeee

!!	URXVT Linux Colors

!! default foreground & background colors
urxvt*foreground: #CCCCCC

! black
urxvt*color0:  #000000
urxvt*color8:  #686868
! red
urxvt*color1:  #B21818
urxvt*color9:  #FF5454
! green
urxvt*color2:  #18B218
urxvt*color10: #54FF54
! yellow
urxvt*color3:  #B26818
urxvt*color11: #FFFF54
! blue
!urxvt*color4:  #1818B2
!urxvt*color4:  #1818FF
urxvt*color4:  #18187F
!urxvt*color12: #5454FF
urxvt*color12: #7474FF
! purple
urxvt*color5:  #B218B2
urxvt*color13: #FF54FF
! cyan
urxvt*color6:  #18B2B2
urxvt*color14: #54FFFF
! white
urxvt*color7:  #B2B2B2
urxvt*color15: #FFFFFF

urxvt*visualBell: true
urxvt*mapAlert: true

!! urxvt + perl ext

! tabbed: shift+down = newtab, shift+left/right = go to prev/next tab, ctrl+left/right=move tab, ctrl+d = close tab

! with tabs
!urxvt.perl-ext-common: default,matcher,-searchable-scrollback,bell-command,clipboard,tabbed

! without tabs, for use with tmux
!urxvt.perl-ext-common: default,-searchable-scrollback,bell-command,selection-to-clipboard,pasta,matcher,keyboard-select,clipboard

! minimal,tmux
urxvt.perl-ext-common: clipboard

! clipboard
urxvt.clipboard.copycmd: xclip -i -selection clipboard
urxvt.clipboard.pastecmd: xclip -o -selection clipboard
urxvt.keysym.Control-Shift-C: perl:clipboard:copy
urxvt.keysym.Control-Shift-V: perl:clipboard:paste
urxvt.clipboard.autocopy: true

!
URxvt.url-launcher: firefox
URxvt.matcher.button:  1
URxvt.colorUL: #4682B4
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 2
URxvt.tabbed.autohide:  yes
URxvt.tabbed.new-button: no
URxvt.tabbed.title: yes
URxvt.tabbed.reopen-on-close: yes
!URxvt.keysym.Control-t: perl:tabbed:new_tab
!URxvt.keysym.Control-Tab: perl:tabbed:next_tab
!URxvt.keysym.Control-Shift-Tab: perl:tabbed:prev_tab
!URxvt.keysym.Control-Shift-Left: perl:tabbed:move_tab_left
!URxvt.keysym.Control-Shift-Right: perl:tabbed:move_tab_right
!URxvt.keysym.Control-Shift-R: perl:tabbed:rename_tab

urxvt.bell-command: play -v 0.25 -q /usr/share/sounds/beep.wav

!  === /home/nikosc/.xres/utils.res: 
xautolock.locker: xlock -dpmsoff 600
!  === /home/nikosc/.xres/xft.res: 
!Xft.dpi: 126
!Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xft.autohint: 1

!  === /home/nikosc/.xres/xjed.res: 
!!	XJED

!xjed*Geometry: 132x30+100+100
xjed*Geometry: 160x40+100+100

! Xorg 6x13B
!xjed*font: -misc-fixed-bold-r-semicondensed--13-120-75-75-c-60-iso10646-1

! Xorg 7x14
!xjed*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso10646-1

! Xorg 7x14B
!xjed*font: -misc-fixed-bold-r-normal--14-130-75-75-c-70-iso10646-1

! XSG 7x16B
!xjed*font: -xsg-xsg fixed 167-*-*-*-*-*-*-*-*-*-*-iso10646-1

! XSG Term 189
xjed*font: -xsg-xsg term 189-*-*-*-*-*-*-*-*-*-*-iso10646-1
!  === /home/nikosc/.xres/xterm.res: 
!!	XTERM

xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00

! VGA Colors
xterm*color0:   #000000
xterm*color1:   #A80000
xterm*color2:   #00A800
xterm*color3:   #A8A800
xterm*color4:   #0000A8
xterm*color5:   #A800A8
xterm*color6:   #00A8A8
xterm*color7:   #A8A8A8
xterm*color8:   #000054
xterm*color9:   #FF0054
xterm*color10:  #00FF54
xterm*color11:  #FFFF54
xterm*color12:  #0000FF
xterm*color13:  #FF00FF
xterm*color14:  #00FFFF
xterm*color15:  #FFFFFF

xterm*utf8: 1
xterm.termName: xterm-256color
xterm.vt100.locale: true
xterm*metaSendsEscape: true
xterm.vt100.metaSendsEscape: true
xterm*saveLines: 1024
!xterm.vt100.reverseVideo: true

xterm.VT100.geometry: 140x35
!xterm*faceName: Liberation Mono:size=10:antialias=false
!xterm*faceName: Inconsolata:size=10:antialias=false
!xterm*font: 7x14,7x13
xterm*selectToClipboard: true
xterm*backarrowKeyIsErase: true

! default
xterm*faceName: Iosevka Term:size=12:antialias=true:autohint=true

!xterm*font: -xsg-xsg term 189-*-*-*-*-*-130-100-100-*-*-iso10646-1

!xterm*font: -*-fixed-medium-r-*-*-13-*-*-*-*-*-iso10646-*
! unreadable
!xterm*font1: -*-fixed-medium-r-*-*-6-*-*-*-*-*-iso10646-*
! tiny
!xterm*font2: -*-fixed-medium-r-*-*-8-*-*-*-*-*-iso10646-*
! small
!xterm*font3: -*-fixed-medium-r-*-*-10-*-*-*-*-*-iso10646-*
! medium
!xterm*font4: -*-fixed-medium-r-*-*-14-*-*-*-*-*-iso10646-*
! large
!xterm*font5: -*-fixed-medium-r-*-*-18-*-*-*-*-*-iso10646-*
! huge
!xterm*font6: -*-fixed-medium-r-*-*-20-*-*-*-*-*-iso10646-*

