# pulseaudio daemon settings

[Unit]
Description=PulseAudio Daemon Settings
After=pulseaudio-system.target sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pactl set-default-sink 0
#ExecStart=/usr/bin/pactl ...

[Install]
WantedBy=sleep.target pulseaudio-system.target
