/* XFCE's panel */
.xfce4-panel.panel {
	margin: 4px !important;
	padding: 4px !important;
	}

/* terminals based on VTE (gnome, tilix, etc) */
VteTerminal, vte-terminal, terminal-window {
    padding: 5px;
	}
