/* terminals based on VTE (gnome, tilix, etc) */
VteTerminal, vte-terminal, terminal-window {
    padding: 5px;
	}

.xfce4-panel.background .tasklist button {}
.xfce4-panel.background .tasklist button:hover {}
.xfce4-panel.background .tasklist button:checked {}
#showdesktop-button{}
#whiskermenu-button{}

.xfce4-panel button
{
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
}

#whiskermenu-button
{
	padding-left: 4px;
	padding-right: 6px;
	margin-left: 2px;
	margin-right: 2px;
}

.xfce4-panel.background .tasklist*
{
	-gtk-icon-transform: scale(0.9);
}
