#
#	Use PulseAudio as system-wide daemon
#

[Unit]
Description=PulseAudio Daemon

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
PrivateTmp=false
ExecStart=/usr/bin/pulseaudio --system
